body {
    font-family: 'Nunito';      
    background-image: url('../images/crw-logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}
.center-search { 
  margin: auto; 
  width: 100%;
  padding-top: 20%;
}
.nav li {
  display: inline-block;
  color:teal;
  padding: 15px;
}
.container {
    margin: auto;
    width:60%;
}
.section:hover {
    background-color: #f5f5f5 ;
  }

.material-tooltip .backdrop{
  background-color: #DB0000;
}


.navCustom:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.user-menu {
  position:fixed;
  clear:both;
  float:right;
  top:10%;
}

[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid #3b5998;
  background-color: #3b5998;
}